@import "tailwindcss";

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneueextrathin-webfont.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneueextrathinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuethin-webfont.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuethinitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuelight-webfont.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuelightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuebook-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuebookitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuemedium-webfont.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuemediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuedemi-webfont.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/maisonneuedemiitalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Maison Neue', Helvetica, sans-serif;
}
